<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pop-up.css">
    <title>403 Fobidden</title>
</head>
<body>
    <main class="grid-container">
        <div class="three"> <strong><h3>Unauthorized</h3></strong>
        </div>
        <img src="../static/img/info-circle.png" class="content">
        <img src="../static/img/close-circle1.png" class="content2">
    </main>
      
</body>
</html>

