{% extends 'layouts/admin_dashboard_layout.html' %}
{% block title %} Patients {% endblock %}
{% block content %}

<div class="container mt-4">
			<!--  -->
        <div class="container my-5">
        <h2>Appointments</h2>
        <br>
        {% if length >= 1 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Gender</th>
                    <th>Doctor Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Injury/Condition</th>
                </tr>
            </thead>
            {% for appointment in appointments %}
            <tbody>
                <tr>
                    <td>{{appointment.firstname}} {{appointment.lastname}}</td>
                    <td>{{appointment.gender}}</td>
                    <td>{{appointment.doctor}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.time}}</td>
                    <td>{{appointment.condition}}</td>
                      <td>
                        <a class="btn btn-danger btn-sm" href="/">Delete </a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <h4>No Appointments Yet</h4>
        {% endif %}
    </div>
{% endblock %}