<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
    <input type="checkbox" id="checkbox">
	<header class="header" >
		<h2 class="u-name" >HOSPITAL <b>MANAGEMENT</b>
			<label for="checkbox">
				<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
			</label>
		</h2>
		<i class="fa fa-user" aria-hidden="true"></i>
	</header>
	<div class="body">
		<nav class="side-bar">
			<div class="user-p">
				<img src="../static/img/default_j15nntl.jpg">
				<h4>DR. ANDREW</h4>
			</div>
			<ul>
				<li>
					<a href="/dashboard">
						<i class="fa fa-desktop" aria-hidden="true"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li>
					<a href="/appointments">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<span>All Appointments</span>
					</a>
				</li>
				<li>
					<a href="/sessions">
						<i class="fa fa-comment-o" aria-hidden="true"></i>
						<span>All Sessions</span>
					</a>
				</li>
				<li>
					<a href="/patientdetails">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						<span>All Patient Data</span>
					</a>
				</li>
				<li>
					<a href="/doctorprescription">
						<i class="fa fa-cog" aria-hidden="true"></i>
						<span>Prescription</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-power-off" aria-hidden="true"></i>
						<span>Logout</span>
					</a>
				</li>
			</ul>
            <nav id="navbar">
                <div class="row">
                    <div class="col-sm-5 col-md-6"> My Appointments</div>
                    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"> My Sessions</div>
                  </div>
                  
            </nav>
		</nav>





    <div class="container my-5">
        <h2>Appointment</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Name of Patient</th>
                    <th>Appointment Date</th>
                    <th>Events</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/jones/">View </a>
                        <a class="btn btn-danger btn-sm" href="/">Delete </a>
                    </td>
                </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/jones/">View </a>
                    <a class="btn btn-danger btn-sm" href="/">Delete </a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/jones/">View </a>
                    <a class="btn btn-danger btn-sm" href="/">Delete </a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/jones/">View </a>
                    <a class="btn btn-danger btn-sm" href="/">Delete </a>
                </td>
            </tr>
        </tbody>

        </table>
    </div>
    
</body>
</html>